* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 136.6rem;
  max-height: 76.8rem;
}

#color-container {
  display: flex;
  gap: 1rem;
}

.ball {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
